<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/book-tracker.css" type="text/css">
    <title>Book Tracker</title>
</head>
<body>
    {{{ body }}}
    <script src="/assets/js/book-tracker.js" type="text/javascript"></script>
</body>
</html>